@import './common';
.wrapper{
    padding: 20px;
    width: 80%;
}
#fieldset{
border: solid 2px rgb(255, 227, 190);
padding: 20px;
margin-left: auto;
margin-right: auto;
border-radius: 20px;
background-color: #fdfaef;
box-shadow: 2px 2px 14px 0px rgba(66, 68, 90, 1);
display: flex;
flex-direction: column;
input{
    margin-top: 10px;
}
button{
    width: 170px;
    height: 35px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
}
.BMI_wrapper{
display: flex;
border: solid 2px rgb(91, 89, 226);
margin-top:20px;
padding: 20px;
width: 80%;
margin-left: auto;
margin-right: auto;
border-radius: 20px;
background-color: #c9e0f7;
box-shadow: 2px 2px 14px 0px rgba(66, 68, 90, 1);
}
.Unit_wrapper{
    display: flex;
    border: solid 2px rgb(89, 226, 146);
    margin-top:20px;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #c9f7e5;
    box-shadow: 2px 2px 14px 0px rgba(66, 68, 90, 1);
}
.form_class{
    padding: 0;
    margin: 0;
    p{
        padding: 0;
        margin: 0;
    }
    input{
        margin-bottom: 20px;
    }
}
.hidden{
    display: none;
}